/*Reset universal*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box; /* con esta propiedad mi caja mantiene el ancho y alto que fije y que el padding y el border no se vayan del tamano dado a la caja*/
}
a{
    text-decoration:none;
}

/*Estilos generales*/

html{
    font-size:20px;
}
body{
    background-color:#faf0ca;
    font-family:'akkurat', Times, serif ;
    list-style: none;
    text-decoration: none;
}


/* fuentes */

/* @font-face{
    font-family: "surfUp";
    src: url(../assets/fonts/SurfsUp.TTF);
} */
@font-face{
    font-family:"akkurat";
    src: url(../assets/fonts/Akkurat.ttf);
}
@font-face{
    font-family: "athletic";
    src: url(../assets/fonts/New\ Athletic\ M54.ttf);
}



/*--------------------HEADER---------------------------*/

/*Estructura y diseño del header-navbar*/

/* navbar con flex */
.navbar{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    text-align: end;
    background-color:#0d3b66;
    display: flex;
    flex-flow:row wrap;
    gap:5px;
    justify-content:space-around;
    align-items:center;

}
.navbar ul li{
    display: inline-block;
    margin:10px;
    margin-bottom: 0;
}
ul li a{
    padding:3px;
    color:#ee964b;
    transition:0.5s;
}

.navbar ul li a:hover{
    background-color:#ee964b ;
    color:#0d3b66;
    border-radius: 25px;
    padding:3px;
}


/*logo navbar*/

.logo{
    width: 5rem;
    height: 5rem;
}

/*Estilo del carousel*/


.carousel-img{
    height:20rem;
    object-fit: cover;
}



/*--------------------FOOTER---------------------------*/

/*Estilo y estructura del footer*/

.footer{
    background-color:#ffba42;
    font-family:"athletic";
    font-size:0.8em;
}

.footer .social{
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content:center;
    gap:20px;
}

.footer .find{
    display:flex;
    flex-flow:column wrap;
    align-items: center;
    justify-content: start;
    margin-top: 0.2em;
    overflow: hidden;
}

.find iframe{
    width: 400px;
    height: 300px;
}

.footer .socialIcon{
    display: inline-block;
    margin: 10px;
    width:40px;
    height: 40px;
    transition-duration:0.5s ;
}

.footer .socialIcon:hover{
    display: inline-block;
    width:50px;
    height: 50px;
    transition-duration: 0.5s;
}

.footer .copyr {
    text-align:center;
    margin:10px;
}





/*-----------------------INDEX-------------------------*/

/*Estilo de la pagina Index*/

h1{
    text-align:center;
}

/*section intro*/

.intro{
    padding:5px;
    margin:5px;
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
}


.lele{
    width:21rem;
    height:16.5rem;
    margin:5px;
}

.text-intro{
    text-align:center;
}

/*section history*/

.history{
    margin:5px;
}

.text-history{
    margin:3px;
    text-align: center;
}

.history-image{
    display:flex;
    justify-content: center;
    align-items: center;
}

.img-history{
    width:21rem;
    height:16rem;
    margin: 0.5em;
}

/*---------------------------PLAYAS---------------------------*/

/*Estilo de la pagina Playas*/

.beach-container{
    display:grid;
    gap:0.7rem;
    grid-auto-rows:26rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem,2fr));
    justify-items: center;
    align-items: center;
}

section .beach-card{
    width: 17rem;
    height: 25rem;
    margin: 17px;
    border: 1px ;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    overflow: hidden;
    box-shadow: 6px 11px 13px -3px rgba(0,0,0,0.6);
    font-size:0.75em;
}

section .beach-card img{
    width:100%;
    height: 12rem;
    object-fit: cover;
}
section .beach-card h3{
    text-align: center;
}

section .beach-card p{
text-align:center;
padding-top:2px;
}

aside{
margin: 10px;
text-align: center;
}

aside button{
    text-decoration:none;
    background-color: #000;
    color:#fff;
    border:1px groove #2a9;
    padding: 8px;
    border-radius: 30%;
}


/*-------------------------EQUIPO-----------------------*/

/*Estilo de la pagina equipo*/

/* Estilos de imagenes y textos seccion board */

.sboard div{
    margin:0.5em;
}
.board h2{
    margin:20px;
}
.sboard p,h3{
    font-size: 1.2em;
    margin: 0.8em;
}

.sboard .surfboard{
    width: 17rem;
    height:19rem;
    margin:10px;
}

.board h3{
    margin:5px;
}

.sboard :nth-child(odd) {
display: flex;
}

.sboard :nth-child(even) {
    display: flex;
    flex-direction:row-reverse;
}

/* Estilos de imagenes y texto seccion neoprene */


.neoprene{
    display:flex;
    flex-direction:column;
}

.neoprene h3,p,h2{
    margin: 1em;
}
.neoprene p{
    font-size:1.2em;
}


.neoprene .suit {
    margin:10px;
}

.neoprene .zip{
    margin:10px;
    overflow: hidden;
}
.neoprene h4{
    margin:5px;
}

/* Estilos de imagenes y cards seccion accesories */

.accesories-container{
    display: flex;
    justify-content:center;
}
.accesories h2{
    margin:20px;
}

.accesories-card{
    width:20rem;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    margin:1em;
}

.accesories-card img{
    width:100%;
    height:15rem;
    padding:2px;
    margin-top:2px;
    margin-bottom:2px;
}


/*estilos seccion surfshop*/
.surfshop-site{
    display: flex;
    flex-flow:row wrap;
    gap:2em;
    justify-content: center;
    margin-top: 10px;
}
.surfshop img{
    width:12rem;
    height:10rem;
}

.surfshop h2,p{
    margin:1em;
}

.surfshop a{
    display:block;
}

.surfshop a:link{
    color:#000;
}

.surfshop a:visited{
    color:#f69;
}

/*-----------------------ESCUELAS--------------------------*/

.schools{
    margin: 1em;
}
.schools h2,p{
    margin:0.5em;
}

.surf-school{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.surf-school .school-container{
    display:flex;
    flex-flow:row nowrap;
    margin:0;
}

.school-parag{
    font-size: 1em;
    text-align: justify;
    display: flex;
    flex-direction: column;
    width:35%;
    margin:1rem;
    justify-content: center;
}

.gallery{
    display:grid;
    grid-template-areas:
    "img1 img2"
    "img1 img3"
    ;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    width:100vh;
    justify-items: center;
    justify-content: center;
    gap:0.5em;
    margin:5px;
}



.img-school1{
    width:15rem;
    height:15rem;
    grid-area: img1;
    object-fit: cover;
    align-self:center;
    justify-self:center;
    transition-duration: 0.5s;
}

.img-school2{
    width:15rem;
    height:15rem;
    grid-area:img2;
    object-fit: cover;
    transition-duration: 0.5s;
}

.img-school3{
    width:15rem;
    height:15rem;
    grid-area:img3;
    object-fit: cover;
    transition-duration: 0.5s;
}

.expand:hover{
    width:17rem;
    height:17rem;
    box-shadow: 10px 6px 35px -4px rgba(169,194,16,0.75);
    transition-duration: 0.5s;
    padding:0;
    margin:0;
}

.borja-channel{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:0.9em;
}
.borja-video{
    width:560px;
    height:315px;
}



/*---------------------CONTACTO------------------------*/

/*Estilo de la pagina contacto*/

.form{
    display:flex;
    justify-content: center;
    text-align: center;

}
.form-container{
    border: 4px groove #c34;
    border-radius: 25px;
    width:20rem;
    display: flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    text-align: center;
    padding:3px;
    margin:7px;
}
.form-container label{
    display: block;
}

.form-container textarea{
    display:block;
    text-align: center;
    width:15rem;
    margin-left:12%;
    margin-bottom:7px;
}

/*---------------- Fin estilos pages ---------------*/




/* ------------------RESPONSIVE------------------ */




/* tamaño de 1024px de ancho */

/*------------- Desktop hacia tablet--------------- */

@media screen and (max-width: 1024px){

/* Estilo general subtitulos y parrafos */
h2,p{
    text-align:center;
    font-size:0.8em;
}


/* Navbar */

.navbar{
    flex-flow: column wrap;
    justify-content: center;
    align-items:center;
    width: 100%;
}
.navbar ul li{
    display: block;
    text-align: start;
}

/* Footer */
.find iframe{
    width: 200px;
    height: 200px;
}


/* Escuelas */
.surf-school .school-container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.school-parag{
    display:block;
    width: 80%;
}

.gallery{
    display:grid;
    grid-template-areas:
    "img1 img2"
    "img3 img3";
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
    width:100vw;
    justify-items: center;
    justify-content: center;
    gap:0.3em;
    margin:0px;
    }

/* Equipo */


.sboard{
    flex-direction:column;
}
.sboard :nth-child(odd) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.sboard :nth-child(even) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

.sboard .surfboard{
    width: 15rem;
    height:17rem;
    margin:0px;
}

.accesories{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.accesories-container{
    width:80%;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.accesories h2{
    margin:20px;
}

.accesories-card{
    width:20rem;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    margin:1em;
}

.accesories-card img{
    width:100%;
    height:15rem;
    padding:2px;
    margin-top:2px;
    margin-bottom:2px;
}

}

/* --------------------------------------------- */

/* tamaño de 768pxde ancho */

/* --------------Tablet a mobile---------------- */

@media screen and (max-width:768px){

    /* Estilo general subtitulos y parrafos */

    h1{
        font-size: 1.2em;
    }
    
    h2, h3, h4{
            text-align:center;
            font-size: 1em;
        }
    p{
        font-size:0.7em;
        text-align:center;
    }
    
     /* Navbar */

.navbar{
        flex-flow: column wrap;
        justify-content: center;
        align-items:center;
        width: 100%;
        font-size:1.5em;
    }
    
.logo{
    width: 4rem;
    height: 4rem;
    padding: 0;
}
    
    /* index */
    
.lele{
    width:16rem;
    height:12.5rem;
    margin:2px;
}
    
    
.img-history{
    width:16rem;
    height:12.5rem;
    margin:2px;
}
    
    
    /* Playas */

.beach-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
    
section .beach-card{
    width: 15rem;
    height: 20rem;
}
    
    /* Equipo */

.sboard div p{
    font-size: 14px;
}

.neoprene p{
    font-size:14px;
}


.accesories-card{
    width:100%;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    margin:1px;
}
    
.accesories-card .p-container{
    width:100%;
}
    
.accesories-card div p {
    margin:2px;
    font-size:0.7em;
}

        /* Escuelas */
    
.surf-school .school-container{
    margin:0.5 0 0.5 0;
    overflow: hidden;
}
    
.gallery{
    display:grid;
    grid-template-areas:
    "img1"
    "img2"
    "img3"
    ;
    grid-template-columns:1fr;
    grid-template-rows: repeat(3, 1fr);
    width:100vw;
    justify-items: center;
    justify-content: center;
    gap:0.5em;
    margin:0px;
    }
    
.img-school1{
     width:11rem;
     height:11rem;
}
    
 .img-school2{
    width:11rem;
    height:11rem;
}
    
.img-school3{
    width:11rem;
    height:11rem;
}
    
.expand:hover{
    width:13rem;
    height:13rem;
}

.borja-channel{
     gap:0.5 em;
}
    

.borja-video{
    width:240px;
    height:160px;
}
    /* Contacto */
.form-container textarea{
    width:12rem;
    height:8rem;
    margin-left:25px;
}




}

/* ----------------------------------------------- */




/*---------------- Fin responsive ----------------*/



